<head>
    <title>Biography</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>
<body>
<div class="all">
    <div class="navbar">
        <a href="#index"><img class="navicons" src="icons/index.png" width="30px"></br>HOME</a>
        <a href="#bio"><img class="navicons" src="icons/bio.png" width="30px"><br>BIO</a>
        <a href="#schedule"><img class="navicons" src="icons/schedule.png" width="30px">SCHEDULE </a>
        <a href="#hobby"><img class="navicons" src="icons/hobby.png" width="30px">INTERESTS</a>
        <a href="#contact"><img class="navicons" src="icons/contact.png" width="30px">CONTACT</a>
    </div>

    <div class="profile-frame">
        <div class="box-profile-head">
            <img class="profhead" src="profhead.jpg" width="433px" height="300px">
        </div>
        <div class="box-profile-pic">
            <img class="profimg" src="avatarphd.jpg" width="150px">
        </div>
        <div class="box-profile-name">
            <h2 class="name">Supawit Werajindapong</h2>
            <h3 class="school">student at Assumption University</h3>
        </div>
        <div class="box-social">
            <ul>
                <li>
                    <a href="http://line.me/ti/p/~xchirin"><img src="icons/line.png" width="30px"></a>
                </li>

                <li>
                    <a href="https://www.facebook.com/witwitpt"><img src="icons/fb.png" width="30px"></a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/supawitw"><img src="icons/linkedin.png" width="30px"></a>
                </li>


            </ul>
        </div>
    </div>

    <div class="card-pane">
        <div class="info-in-pane">
            <div id="index" class="inner-content">
                <h1>Welcome to my Website!</h1>
                <i><h3>select the tab on the left side to know more about me.</h3></i>

            </div>
            <div id="bio" class="inner-content">
                <div class="firstbox-bio">
                    <ul>
                        <li class="title">Name</li>
                        <li class="info">Supawit</li>
                        <br>
                        <li class="title">Surname</li>
                        <li class="info">Werajindapong</li>
                        <br>
                        <li class="title">Birth Date</li>
                        <li class="info">13th of March 1998</li>
                        <br>
                        <li class="title">Education</li>
                        <li class="info">Assumption University (2016 - Present)</li>
                        <li class="info">Saengthong Vitthaya (2010 - 2016)</li>
                        <br>
                        <li class="title">Family Member</li>
                        <li class="info">1 sister</li>
                    </ul>
                </div>
            </div>

            <div id="schedule">
                <br>
                <h1 class="scd-head">My 2/2018 Schedule</h1>
                <table class="scdtable" border="2">
                    <tr>
                        <th>Day of the Week</th>
                        <th>09:00 - 10:30</th>
                        <th>10:30 - 12:00</th>
                        <th>12:00 - 13:30</th>
                        <th>13:30 - 15:00</th>
                        <th>15:00 - 16:30</th>
                    </tr>

                    <tr>

                        <td>Monday</td>
                        <td></td>
                        <td>
                            <center>[MGT3940] <br> <b>Business Research Methodology</b> <br> <i>Section 405 - SG419</i>
                            </center>
                        </td>
                        <td></td>
                        <td>
                            <center>[BIS3617] <br> <b>Web Design and Programming</b> <br> <i>Section 401 - SC0502</i>
                            </center>
                        </td>
                        <td>
                            <center>[ACT2620] <br> <b>Fundamentals of Managerial Accounting</b> <br> <i>Section 405 -
                                SG334</i></center>
                        </td>
                    </tr>

                    <tr>

                        <td>Tuesday</td>
                        <td></td>
                        <td>
                            <center>[MGT3940] <br> <b>Business Research Methodology</b> <br> <i>Section 405 - SM412</i>
                            </center>
                        </td>
                        <td></td>
                        <td>
                            <center>[MGT3907] <br> <b>Business Communication</b> <br> <i>Section 413 - SM220</i>
                            </center>
                        </td>
                        <td>
                            <center>[GE2101] <br> <b>World Civilization</b> <br> <i>Section 410 - SM217</i></center>
                        </td>
                    </tr>

                    <tr>

                        <td>Wednesday</td>
                        <td>
                            <center>[MGT3907] <br> <b>Business Communication</b> <br> <i>Section 413 - SM208</i>
                            </center>
                        </td>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <center>[ACT2620] <br> <b>Fundamentals of Managerial Accounting</b> <br> <i>Section 405 -
                                SG334</i></center>
                        </td>

                    </tr>

                    <tr>

                        <td>Thursday</td>
                        <td>
                            <center>[BIS3516] <br> <b>Object-Oriented Programming</b> <br> <i>Section 401 - SC0502</i>
                            </center>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <center>[BIS3617] <br> <b>Web Design and Programming</b> <br> <i>Section 401 - SC0502</i>
                            </center>
                        </td>
                        <td>
                            <center>[GE2101] <br> <b>World Civilization</b> <br> <i>Section 410 - SM217</i></center>
                        </td>
                    </tr>

                    <tr>
                        <td>Friday</td>
                        <td>
                            <center>[BG14036] <br> <b>Professional Ethics Seminar VI</b> <br> <i>Section 506 - WIMAN
                                BANGPHLI</i></center>
                        </td>
                        <td></td>
                        <td></td>
                        <td colspan="2"></td>
                    </tr>
                </table>

            </div>

            <div id="hobby">
                <br>
                <h1 class="hbhead">My Hobbies</h1>
                <div class="hb-info">
                    <ul>
                        <li class="title">Playing Arcade Games</li>
                        <ul>
                            <li>Maimai Finale</li>
                            <li>Groove Coaster</li>
                            <li>Museca</li>
                            <li>SDVX</li>
                        </ul>
                        <br>
                        <li class="title">Watching TV Shows / Series</li>
                        <ul>
                            <li>How I Met Your Mother</li>
                            <li>Sex Education</li>
                            <li>Black Mirror</li>
                            <li>Twilight Zone</li>
                        </ul>
                        <br>
                        <li class="title">Listening to Music</li>
                        <ul>
                            <li>J-POP</li>
                            <li>Alternative</li>
                            <li>R&B</li>
                        </ul>
                </div>
            </div>

            <div id="contact"><br>
                <h1> For further questions, you can reach me at</h1>
                <img class="mappic" src="maps.png" width="400"><br>
                <h2> 29/1-2 Viewpoint Complex, Bangna-Trad Km.26 Rd., Bang Bo, Bang Bo, Samut Prakarn 10560</h2>
                <p><img src="icons/tel.png" width="20px"> 087-633-3603</p>
                <p><img src="icons/email.png" width="20px"> supawit.wera@gmail.com</p>
            </div>
        </div>

    </div>
</div>
</body>
</html>