body {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(172,111,244,1) 100%);
    font-family: 'Dosis', sans-serif;
}

.all {
    position: relative;
    max-width: 1500px;
    top: 50%;
    left: 50%;
    margin-left: -550px;
    margin-top: -683px;

}
.navbar {
    position: relative;
    width: 80px;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    top: 140px;

}

.navbar a {
    text-align: center;
    display: block;
    height:72px;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

.navbar .navicons{
    margin-top: 5px;

}
.navbar a:hover {
    color: #222222;
    background-color: #cccccc;
    border-radius: 5px;

}

.profile-frame {
    position: relative;
    display: inline-block;
    width: 433px;
    height: 650px;
    background: #ffffff;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px 2px;
}

.profhead {
    border-radius: 5px;
    filter: blur(.5px);

}

.profimg {
    position: absolute;
    border-radius: 50%;
    left: 137px;
    right: 137px;
    top: 227px;
    bottom: 263px;

}


.name {
    text-align: center;
    font-style: bold;
    font-size: 30px;
    position: absolute;
    left:72px;
    right: 72px;
    top: 400px;
    bottom: 185px;
    z-index: 2;

}

.school {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 450px;
    bottom: 135px;
    left: 0;
    right: 0;
    z-index: 2;

}

.box-social{
    text-align: center;
    position: absolute;
    top: 550px;
    bottom: 60px;
    left: 100px;
}

.box-social li{
    display: inline;
    list-style: none;
    margin-right: 10px;
}
.info-in-pane ul {

    list-style: none;

}

.info-in-pane {

    margin-left:40px;

}
.card-pane {
    position: relative;
    display: inline-block;
    width: 550px;
    height: 600px;
    background: #ffffff;
    overflow: hidden;
    top: 325px;
    left: -30px;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px 2px;

}

.title {
    font-size: 30px;
}

.info{
    font-size: 20px;
}




#index  {
    height: 600px;
    padding-top: 250px;
    text-align: center;
    width:auto;

}

.firstbox-bio {
    position: relative;
    border: 1px dashed grey;
    padding: 0px;
    top: 20px;
    width: 450px;

}

#bio{
    height: 600px;
}

.info{
    color: #4c4c4c;
}
#schedule {
    height: 600px;
}

.scdtable{
    margin-left: -70px;
    margin-top: -75px;
    margin-right: -70px;
    transform: scale(0.73);
}


#hobby{
    height:600px;

}

.hbhead{
    margin-top: 0px;
}

.hb-info{
    font-size:20px;
    margin-left: -10px;
}

#contact{
    height: 600px;
}

#contact h1{
    font-style: italic;
    font-size: 28px;
}

#contact p{
    font-size: 25px;

}
.mappic{
   margin-left: 45px;
}